<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		
		<!-- 
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/movimentacaoBD</property>
		<property name="connection.username">root</property>
		<property name="connection.password">zion16014</property> -->
		
		<property name="connection.datasource">java:jboss/datasources/MovimentacaoDB</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property> 

		<mapping class="movimentacao.usuario.Usuario"/>
		<mapping class="movimentacao.controleAcesso.LogAcesso"/>
		<mapping class="movimentacao.cliente.Cliente"/>
		<mapping class="movimentacao.produto.Produto"/>
		<mapping class="movimentacao.mov.Mov"/>
		<mapping class="movimentacao.itMov.ItMov"/>
		<mapping class="movimentacao.produtoTask.ProdutoTask"/>
		<mapping class="movimentacao.negocios.Negocios"/>
		<mapping class="movimentacao.negocios.atividades.Atividades"/>
		<mapping class="movimentacao.negocios.contatos.Contatos"/>
		<mapping class="movimentacao.cartaoVisita.CartaoVisita"/>
		
		<mapping class="movimentacao.projetoAES.ControleFrota"/>
		
		<mapping class="movimentacao.projetoNCE.status.StatusRequisicao"/>
		<mapping class="movimentacao.projetoNCE.empresa.Empresa"/>
		<mapping class="movimentacao.projetoNCE.tecnico.Tecnico"/>
		<mapping class="movimentacao.projetoNCE.tecnico.notesTecnico.NotesTecnico"/>
		<mapping class="movimentacao.projetoNCE.coordenador.Coordenador"/>
		<mapping class="movimentacao.projetoNCE.site.Site"/>
		<mapping class="movimentacao.projetoNCE.chave.Chave"/>
		<mapping class="movimentacao.projetoNCE.ControleChave"/>
		<mapping class="movimentacao.projetoNCE.controleSiteChave.ControleSiteChave"/>
		<mapping class="movimentacao.projetoNCE.emails.NivelEmail"/>
		<mapping class="movimentacao.projetoNCE.anotacao.Anotacao"/>
	</session-factory>
</hibernate-configuration>
