.panelGridPadrao {
    border-width: 1px;
    border-style: solid;
    padding: 4px 0px;
	border-color: white;
}

.form-padrao {
    
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
/*     box-shadow: 3px 7px 3px #9C9C9C; */
}

.form-usuarios
{
	display: block;
    width: 200px;
    height: 34px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
}
.form-mov
{
	display: block;
    height: 34px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
}

.form-padrao:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-padrao:-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-padrao:-ms-input-placeholder {
    color: #999
}

.form-padrao:-webkit-input-placeholder {
    color: #999
}

.ui-messages-info, .ui-message-info {
    color: white;
    font-size: 18px;
    background: #006400;
    background-image: -webkit-linear-gradient(top, #006400, #32CD32);
    background-image: -moz-linear-gradient(top, #006400, #32CD32);
    background-image: -ms-linear-gradient(top, #006400, #32CD32);
    background-image: -o-linear-gradient(top, #006400, #32CD32);
    background-image: linear-gradient(to bottom, #006400, #32CD32);
    border-color: #006400;
}

.ui-messages-info-summary{
	color: white;
    font-size: 18px;
}

.ui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
    font-size: 18px;
}

.ui-widget-content .ui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-size: 18px;
    background:white;
    color: black;
    font-size:18px;
    text-align: left;
}


.ui-chips-input-token input {
    background-color: transparent;
    border: 0 none;
    margin: 2px;
    outline: medium none;
    width: 600px;
    height: 50px;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0.4em;
    border: 0 none;
    color: white;
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.ui-selectonemenu .ui-selectonemenu-label {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    text-align: left;
    font-size: 18px;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
   background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
.ui-selectonemenu-panel .ui-selectonemenu-list {
    padding: 0.4em;
    border: 0 none;
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border: 0px none;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    white-space: nowrap;
    font-size: 18px;
    color: white;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: none;
    border: none;
    color: #5F83B9;
    margin-left: 0px;
}

.label-padrao {
  border: none;
  font-family: Arial;
  color: #2980b9;
  font-size: 20px;
/*   text-shadow: 3px 7px 3px #9C9C9C; */
}

.centroPadrao {
	width:100px;
	height:100px;
	position:absolute;
	top:20%;
	left:45%;
	margin-top:-20px;
	margin-left:-50px;
}
.tituloPadrao {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  width: 190px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 3px 7px 3px #9C9C9C;
}
.btnPadrao {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  width: 200px;
  box-shadow: 3px 7px 3px #9C9C9C;
}

.btnPadrao:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  box-shadow: none;
}